@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-red: #E11D48; /* Vermelho vibrante para CTAs e títulos Accent */
  --color-surface-dark: #0A0A0A; /* Fundo principal */
  --color-surface-card: #141414; /* Cor de fundo dos cards */
  --color-text-dim: #A1A1AA; /* Texto secundário */
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0A0A0A;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.font-noto {
  font-family: 'Noto Sans JP', sans-serif !important;
}
